<h2>MAP</h2>

<div id="map-container"></div>

<script>
  const placeArray = [
  {{#each places}}
    {
      id: "{{_id}}",
      name:"{{name}}",
      position: {
        lat: {{location.coordinates.[1] }},
        lng: {{ location.coordinates.[0] }}
      },
      pictureUrl: "{{pictureUrl}}",
      creator: "{{creator.name}}"
    },
  {{/each}}
]
//console.log(placeArray);
  function initMap () {
    const map = new window.google.maps.Map(document.getElementById('map-container'), {
      center: { lat: 38.75, lng: -9.15 }, zoom: 8});
       
    for (let place of placeArray) {
      //console.log(place);
      let information = `
      <style>
          .img-google-mini {
              width: 50px;
               border-radius: 50%;
              }   
      </style>
      <h3>${place.name}</h3>
      <img class="img-google-mini" src="${place.pictureUrl}">
      <small>Published by ${place.creator}</small><br>
      <small>Double click for more information</small>`;
    
    let infowindow = new google.maps.InfoWindow({
          content: information
       });
      const marker = new google.maps.Marker({
  position: {
  	lat: place.position.lat,
  	lng: place.position.lng
  },
  map: map,
  title: place.name
});
marker.addListener('click', function() {
          infowindow.open(map, marker);
          setTimeout(function () { infowindow.close(); }, 3000);
        });  
marker.addListener('dblclick', () => {
        const endpoint = `/places/${place.id}`;
        window.location = endpoint;
      });
      console.log(marker);
    }
  }
</script>
{{>mapscript}}
