<h2>Your Posts</h2>

{{#each places}}
  <div>
    <a href="/places/{{_id}}">{{name}}</a><br>
    <a href="/places/{{_id}}"><img class="img-list" src="{{pictureUrl}}" /></a>
    <small>Created at: {{createdDate}}</small>
  </div>
{{/each}}

<a class="mt-5 btn btn-primary" href="/places/create">New Post</a>

