{{#with place}}



<h2>Name: {{ name }}</h2>
<img class="img-list" src="{{pictureUrl}}"/>

<form action="/places/like/{{_id }}" method="POST">

<button id="likeButton">Like</button>

<label id="countLike">{{like_count}}</label>

</form>

<p>Description: {{ description }}</p>
<p><strong>Where You can find me:</strong></p>
<p>Latitude: {{location.coordinates.[1]}} | Longitude: {{location.coordinates.[0]}}</p>
<div id="map-container"></div>

<small><strong>Created at:</strong> {{createdDate}}</small><br>

<a href="/places/update/{{ _id }}">Update Place</a>

<form action="/places/delete/{{_id }}" method="POST">
<button>Delete Post</button>
</form>

<script>  
    /*
    let $likeButton = document.getElementById("likeButton");
$likeButton.onclick = function (event) {
   let $countLike = document.getElementById("countLike");
   if ($likeButton.innerText==='Like'){
    let countLike = Number($countLike.innerText);
    countLike++;
   $countLike.innerText = countLike;
   $likeButton.innerText='Dislike'
   } else{
  let countLike = Number($countLike.innerText);
  if (countLike>0){
  countLike--;
  }else {
    countLike=0;
  }

   $countLike.innerText = countLike;
   $likeButton.innerText='Like'
   }
};
*/


const longitude = {{location.coordinates.[0]}};
const latitude = {{location.coordinates.[1]}};

function initMap() {
  const mapcoord = {lat: latitude, lng: longitude};
  
  const map = new window.google.maps.Map(document.getElementById('map-container'), {zoom: 10, center: mapcoord});
  const marker = new google.maps.Marker({position: mapcoord, map: map});
}
</script>

{{>mapscript}}

{{/with}}
