{{#with place}}

<h3>{{ name }}</h3>
<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <img class="img-list" src="{{pictureUrl}}"/>
      <p>{{ description }}</p>
      <!--SEE ALL COMMENTS FORM-->
      <div class="row" >
      <form action="/comments/place/{{ _id }}" method="GET" style="margin-right: 25px;">
       <button class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up"></i>See all Comments</button>
       </form>
      <!--LIKE FORM-->
      <form action="/places/like/{{_id }}" method="POST">
       <button class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up"></i>Like</button>
        <label id="countLike">{{like_count}}</label>
      </form>
      </div>
      {{/with}}
      <br>

<!--IF IT'S THE OWNER OF THE PLACE SHOW UPDATE AND DELETE OPTIONS-->
      {{#if post.isOwner}}
      <div>
      <p>Will show the last 3 comments and a link to see all comments</p>
      <button class="btn btn-link"><a href="/places/update/{{ place._id }}">Update Details</a></button>
       <!--new thing-->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">Delete Post</button>
      </div>
      {{else}}
      <!--Comment-->
      <div>
<form action="/comments/place/{{ _id }}" method="POST">
  <label for="message-input">Post Comment</label><br>
  <textarea id="message-input" name="message" placeholder="Post Comment"></textarea><br>

  <button>Submit Comment</button>
</form>
</div>
      {{/if}}

     {{#with place}}
    </div>
    <div class="col-6">
      <div id="map-container"></div>
      <small><strong>Date Created:</strong> {{createdDate}}</small>
      <p><strong>Latitude:</strong> {{location.coordinates.[1]}} | <strong>Longitude:</strong> {{location.coordinates.[0]}}</p>
    </div>
  </div>
</div>

<!-- Delete Post Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind!</button>
        <form action="/places/delete/{{_id }}" method="POST">
          <button class="btn btn-primary">Yes, Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Map Script-->
<script>  

const longitude = {{location.coordinates.[0]}};
const latitude = {{location.coordinates.[1]}};

function initMap() {
  const mapcoord = {lat: latitude, lng: longitude};
  
  const map = new window.google.maps.Map(document.getElementById('map-container'), {zoom: 10, center: mapcoord});
  const marker = new google.maps.Marker({position: mapcoord, map: map});
}
</script>

{{>mapscript}}

{{/with}}
