{{#with place}}
<div class="page">
<h3>You are updating: {{name}}'s Place</h3><br>
</div>
<form class="container" enctype="multipart/form-data" method="POST">
<div style="text-align:center">
  <img class="img-list" src="{{pictureUrl}}">
  <div style="margin-top: 30px;">
    <label for="picture-input"><strong>Update Picture:     </strong></label>
    <input id="picture-input" name="picture" type="file"/>
  </div>
</div>
<div >
  <div>
<label for="name"><strong>Title:</strong></label>
<input type="text" name="name" id="name" value="{{name}}" required>
</div>
<div style="margin-top: 40px;">
<label for="description-input"><strong>Description:</strong></label>
<input required id="description-input" name="description" value="{{ description }}">

</div>
</div>

<div>
  <div style="margin-right: 40px;">
<label for="latitude-input" style="margin-top: 40px;"><strong>Latitude</strong></label>
<input required id="latitude-input" type="text" name="latitude" value="{{location.coordinates.[0]}}">
</div>
<div>
<label for="longitude-input"><strong>Longitude</strong></label>
<input required id="longitude-input" type="text" name="longitude" value="{{location.coordinates.[1]}}">
</div>
<br>
</div>
<div id="map-container"></div>

<button>Update art place</button>

</form>



<!--
<div class="col-6">
    <div class="form-group">
      <label for="name">Title</label>
      <input required type="text" id="name" name="name" class="form-control" placeholder="If it had a name, what would you call it?"/>
    </div>
    <div class="form-group">
      <label for="description-input">Description</label>
      <input required type="textarea" name="description" id="description-input" class="form-control" rows="2" placeholder="What's interesting about it?"/>
    </div>
    <div>
      <input required id="picture-input" name="picture" type="file" class="form-control-file" />
    </div>
    <div>
      <!--latitude
      <input required id="latitude-input" type="hidden" name="latitude" placeholder="Place Latitude"> <!--form type hidden
    </div>
    <div>
      <!--longitude
      <input required id="longitude-input" type="hidden" name="longitude" placeholder="Place Longitude"> <!--form type hidden
    </div>
    <small class="form-text text-muted">Before sharing, don't forget to select the location on the map.</small>
    <button class="btn btn-primary mt-5">Share</button>
  </div>-->
  <!--DIV 2
  <div class="col-6">
    <p><strong>Step 2:</strong> Select location of the art.</p>
    <div id="map-container">
    </div>
  </div>
</div>

</form>

<!--Map Script-->
<script>

 const $inputLatitude = document.getElementById('latitude-input');
 const $inputLongitude = document.getElementById('longitude-input');

const longitude = {{location.coordinates.[0]}};
const latitude = {{location.coordinates.[1]}};

function initMap() {
  const mapcoord = {lat: latitude, lng: longitude};
  
  const map = new window.google.maps.Map(document.getElementById('map-container'), {zoom: 10, center: mapcoord});
  let marker = new google.maps.Marker({position: mapcoord, map: map});

map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();
      $inputLatitude.value = Number(latitude);
      $inputLongitude.value = Number(longitude);
      
      if (marker) {
        marker.setMap(null);
      }
      marker = new window.google.maps.Marker({
        map,
        position: {
          lat: latitude,
          lng: longitude
        }
      });
      
    })
}
</script>

{{>mapscript}}
{{/with}}
