<h1>{{title}}</h1>
<div class="card-columns pt-5">
  {{#each places}}
  <!-- Card -->
  <div class="card promoting-card shadow-sm">
    <!-- Card content -->
    <div class="card-body d-flex flex-row">
      <!-- Avatar -->
      <img src="{{creator.picture}}" class="avatar-img" height="50px" width="50px" alt="avatar">
      <!-- Content -->
      <div>
        <!-- Title -->
        <h4 class="card-title font-weight-bold mb-2">{{ name }}</h4>
        <!-- Subtitle -->
        <!--DATE FORMATTING
        <script>
          Handlebars.registerHelper('readableDate' function (dateMilli) {
          var d = (new Date(dateMilli) + '').split(' ');
          d[2] = d[2] + ',';
          return [d[0], d[1], d[2], d[3]].join(' ');
          }
          var datemilli = Date.parse('Sun May 11,2014');
          console.log(taskDate(datemilli));
        </script>-->
        <p class="card-text"><i class="far fa-clock pr-2"></i>{{createdDate}}</p>
      </div>
    </div>
    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top rounded-0" src="{{pictureUrl}}" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card content -->
    <div class="card-body">
      <div>
        <!-- Text -->
        <p>{{ description }}</p>
        <!-- Button -->
        <div>
          <div>
            <a class="btn btn-link stretched-link" href="/places/{{_id}}"><!--<i class="fas fa-arrow-right"></i>-->→</a>
          </div>
          <!--<div>
            <i class="fas fa-share-alt float-right" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
            <i class="fas fa-heart float-right " data-toggle="tooltip" data-placement="top" title="I like it"></i>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<!-- Card -->

<!-- Old Format -->
<!--{{#each places}}
  <article>
    <hr>
    <h4>{{ name }}</h4>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <img class="img-feed" src="{{pictureUrl}}" />
    </div>
    <p><strong>{{ creator.name }}</strong> - {{ description }}</p>
    <small>{{createdDate}}</small><br>
  </article>
{{/each}} -->
<!-- Old Format -->