<h1>{{title}}</h1>

{{#each places}}
  <article>
    <h4>{{ name }}</h4>
    <img class="img-feed" src="{{pictureUrl}}" />
    <p><strong>{{ creator.name }}</strong> - {{ description }}</p>
    <small>{{createdDate}}</small><br>
  </article>
{{/each}}